<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
</head>
<body>
	<ul>  
		 
		<ul>
		  <li foo='<%= user + "'" %>'><%= user.name %>
		  </li> 
		    <li foo='<%= user + "'" %>'><%= user.age %>
		  </li> 
		  </ul>  

		
	</ul>  
</body>
</html>